server:
        hide-version: yes
        hide-identity: yes
        verbosity: 3
        database: "" # disable database
        do-ip6: yes
        ip-address: /PUBV6/
        ip-address: /PUBLICIP/
        ip-address: /GRESLAVE12/
        ip-address: /GRESLAVE56/
        refuse-any: no  
        identity: "/FIRST/"

